# Ignore all files in .config by default
*

# Include ~/.config/gitignore
!.gitignore

# Include these specific dotfiles
!nvim/
!nvim/**

# Old neovim setup w/ Astronvim
!nvim_bak/
!nvim_bak/**

!helix/
!helix/**

!zellij/
!zellij/**

!ghostty/
!ghostty/**

!fish/
!fish/**

!vscode/
!vscode/**

# Always ignore these patterns, even if otherwise included
*/node_modules
*/.tabby/*
